/* Colors */
.st0 {
  fill: #ffe475;
}
.st1 {
  fill: #c26c47;
}
.st2 {
  fill: #49312d;
}
.st3 {
  fill: #604219;
}
.st4 {
  fill: #554d4d;
}
.st5 {
  fill: #635723;
}
.st6 {
  fill: #84712c;
}
.st7 {
  fill: #947158;
}
.st8 {
  fill: #c07e48;
}
.st9 {
  fill: #c98777;
}
.st10 {
  fill: #df9126;
}
.st11 {
  fill: #f68c47;
}
.st12 {
  fill: #fbad23;
}
.st13 {
  fill: #f8b26c;
}
.st14 {
  fill: #eec075;
}
.st15 {
  fill: #f6dc8f;
}
.st16 {
  fill: #ead4b5;
}
.st17 {
  fill: #eaddce;
}
.st18 {
  fill: #fef8cc;
}
.st19 {
  fill: #fefdf4;
}
.st20 {
  fill: #e9e9ea;
}
.st21 {
  fill: #bbbcac;
}
.st22 {
  fill: #c9c0ad;
}
.st23 {
  fill: #d3c8c2;
}
.st24 {
  fill: #afa49f;
}
.st25 {
  fill: #8d7d71;
}
.st26 {
  fill: #b5ad6e;
}
.st27 {
  fill: #787fa0;
}
.st28 {
  fill: #e1afa3;
}
.st29 {
  fill: #d69385;
}
.st30 {
  fill: #c69849;
}
.st31 {
  fill: #faa64c;
}
.st32 {
  fill: #ffd386;
}
.st33 {
  fill: #d1c76d;
}
.st34 {
  fill: #56481c;
}

.tiger-animation-layer {
  /* position: relative; */
  width: auto;
  margin: auto;
  z-index: 2;
  cursor: pointer;
}

.tiger-animation-layer > svg {
  overflow: visible;
  z-index: 1;
  width: 300px;
  /* position: absolute; */
}

@media (min-width: 899px) and (max-width: 1299px) {
  .tiger-animation-layer > svg {
    width: 450px;
  }
}

@media (min-width: 1299px) {
  .tiger-animation-layer > svg {
    width: 550px;
  }
}

polygon,
path,
ellipse {
  fill-opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transition: -webkit-transform 2s ease, opacity 0.5s ease,
    stroke-dashoffset 1s ease-in-out;
  transition: -webkit-transform 2s ease, opacity 0.2s ease,
    stroke-dashoffset 1s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

/*=========================
	 Left Side Stuff
/*=======================*/
/* Animate Stroke  */
svg #left-side polygon:nth-of-type(n + 1),
svg #left-side path:nth-of-type(n + 1),
svg #left-side ellipse {
  will-change: transform, opacity;
  fill-opacity: 0;
  stroke: #fafafa;
  stroke-width: 0.5px;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  -webkit-animation: dash 8s ease-in-out 1;
  animation: dash 8s ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 600;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 600;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0;
  }
}


